html {
    scroll-behavior: smooth;
}

body {
    width: 70%;
    margin: auto;
    font-size: 1.5em;
}

h1 {
    background-color: beige;
}

p {
    padding: 1.6rem;
    background-color: rgb(218, 239, 255);
}

#Menu {
    background-color: blanchedalmond;
    padding: 1rem;
    text-align: center;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
}

section {
    padding-top: 10rem;
}



@media (width<650px) {
    #Menu {
        flex-direction: column;
        font-size: 2rem;
    }
}

@media((width<650px) and (width>400px)) {
    section {
        font-size: 2rem;
    }
}

@media(width<400px) {
    section {
        font-size: 2.5rem;
    }

    #Menu {
        font-size: 2.5rem;
    }
}