* {
    box-sizing: border-box;
}

header,
footer {
    background-color: white;
    border-style: solid;
    border-radius: 2rem;
    padding: 0.5rem;
    text-align: center;
}

body {
    background-image: url(./Imagenes/Fondo1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: gray;
}

video,
audio,
iframe {
    padding-top: 2rem;
    width: 80%;
    margin: auto;
    display: block;
}

audio {
    padding-top: 2rem;
}