* {
    box-sizing: border-box;
}

header,
footer {
    background-color: white;
    border-style: solid;
    border-radius: 2rem;
    padding: 0.5rem;
    text-align: center;
    width: 95%;
    margin: auto;
}

body {
    background-image: url(Imagenes/FondoDesenfocado1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: gray;
}

.grid {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    width: 95%;
    margin: auto;
}

.grid img {
    width: 100%;
    height: 20rem;
    border: 0.3rem solid black;
    margin: auto;
}

.Imagenes1:hover {
    transform: scale(0.9);
    transition: all 0.5s ease;
}

.Imagenes2:hover {
    transform: scale(0.9);
}