h1 {
    background-color: rgb(142, 21, 255);
    color: white;
    border: solid 0.5rem violet;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
}

p {
    background-color: lightpink;
    color: darkblue
}