div {
    text-align: center;
    margin-bottom: 20px;
}

#negra {
    background-color: gray;
    width: 100%;
    padding: 3.5rem;
    clear: both;
}

#bolazul1 {
    background-color: blue;
    border-radius: 100%;
    padding: 4rem 0rem 0rem 0rem;
    width: 25%;
    height: 10rem;
    float: left;
}

#bolaamarilla {
    background-color: gold;
    border-radius: 100%;
    padding: 4rem 0rem 0rem 0rem;
    width: 25%;
    height: 100px;
    float: left;
}

#bolaroja {
    background-color: red;
    border-radius: 100%;
    padding: 4rem 0rem 0rem 0rem;
    width: 25%;
    height: 100px;
    float: left;
}

#bolazul2 {
    background-color: blue;
    border-radius: 100%;
    padding: 4rem 0rem 0rem 0rem;
    width: 25%;
    height: 10rem;
    float: left;
}

#verde {
    background-color: chartreuse;
    padding: 3.5rem;
    clear: both;
}