html {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}



body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
}

h1 {
    font-size: 5rem;
}

header,
footer {
    background-color: rgb(244, 241, 37);
    text-align: center;
    padding: 1rem;
}

main {
    background-color: rgb(62, 132, 254);
    padding: 2rem;
    flex: 1;
}

article {
    padding: 2rem;
    background-color: rgb(218, 55, 55);
    border-radius: 25px;
}

section {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-around;
}

section * {
    border-radius: 2.5rem;
}

section img {
    width: 20%;
    flex: 1 1 70%;
    /*1 Crece 1 Encoge y 70% de tamaño*/
}

aside {
    background-color: antiquewhite;
    flex: 1 1 30%;
    /*1 Crece 1 Encoge y 30% de tamaño*/
    padding: 5rem;
}