@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    padding: 2em;
    background: linear-gradient(to right, rgb(11, 169, 186) 0%, rgb(106, 106, 106) 10%, rgb(164, 29, 29) 100%);
    height: 100vh;
    cursor: url("./Cursores/MiCursor.cur");
}

h1 {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    cursor: crosshair;
}

p {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
    text-align: center;
    margin: 1rem auto 1rem auto;
}

section {
    display: flex;
    height: 400px;
    cursor: n-resize;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.6;
    transition: 3s ease;
    border-radius: 15px;
}

section img:hover {
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

section img:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

section img:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}