h1 {
    background-color: rgb(142, 21, 255);
    color: white;
    border: solid 5px violet;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
}

p {
    background-color: lightpink;
    color: darkblue
}

img {
    width: 50%;
}

nav {
    background-color: white;
}


.Caja2 {
    margin: auto;
    text-align: center;
}