body {
    text-align: center;
}

p {
    background-color: rgb(169, 169, 169);
    width: 50%;
    margin: auto;
}

a {
    background-color: rgb(13, 202, 13);
    border: 3px black double;
    text-decoration: none;
    padding: 30px;
    display: flex;
    width: 20%;
    margin: auto;
    color: rgb(0, 26, 255);
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
}